.banner {
  background: linear-gradient(to right, rgba(102, 102, 51, 0.9), rgba(0, 0, 0, 0.7)),
              url('/assets/images/backgrounds/cabaña.jpg') center/cover no-repeat;
  height: 150px;
  border-radius: 15px;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  .logo {
    width: 100px; /* Reduce el tamaño del logo en móviles */
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.5rem; /* Ajuste del tamaño del texto */
  }
}
