<div class="container-fluid">


  <div class="d-flex align-items-center mt-3"
  [ngClass]="{'justify-content-between': loadedProjects && projects.length > 2,'justify-content-center': !(loadedPaymentes && projects.length > 2)}">
    <!-- Botón de Previous -->
    <button *ngIf="loadedProjects && (projects.length > 2)" type="button" class="justify-content-center btn mb-1 btn-rounded btn-outline-primary d-flex align-items-center" (click)="previousPage()" [disabled]="currentPage === 0">
      <span class="material-symbols-rounded">chevron_left</span>
    </button>

    <!-- Botones de los proyectos visibles -->

    <p-skeleton *ngIf="!loadedProjects" width="10rem" height="2rem" styleClass="mb-2" />
    <div *ngIf="loadedProjects" class="d-flex flex-wrap justify-content-center mx-3">
      <button
        *ngFor="let project of visibleProjects; let i = index"
        type="button"
        class="btn btn-primary flex-fill mx-1"
        [ngClass]="{'active': i === indexActive}"
        (click)="selectProject(project); indexActive = i">
        Hacienda Colonia -
        {{ project.batch }}
      </button>
    </div>

    <!-- Botón de Next -->
    <button *ngIf="loadedProjects && (projects.length > 2)" type="button" class="justify-content-center btn mb-1 btn-rounded btn-outline-primary d-flex align-items-center" (click)="nextPage()" [disabled]="(currentPage + 1) * itemsPerPage >= projects.length">
      <span class="material-symbols-rounded">chevron_right</span>
    </button>
  </div>

</div>


<div class="row h-100">
  <div class="col-lg-6 d-flex">
    <div class="card text-white bg-primary overflow-hidden flex-fill custom-card">
      <div class="card-body position-relative z-1">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-white">{{projecSelected.batch}}</h2>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <span class="mb-1 badge text-bg-success">
              <h4 class="text-white m-0">{{projecSelected.finance_amount | lempirasCurrency}}</h4>
            </span>
          </div>
        </div>
        <h4 class="text-white fw-normal mt-3 pt-4 mb-1">Hola, <span class="fw-bolder">{{projecSelected.person.name}}</span></h4>
        <h6 class="opacity-75 fw-normal text-white mb-0">Conoce tu estado de cuenta.</h6>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="row h-100">
      <div class="col-md-6 d-flex">
        <div class="card bg-success-subtle overflow-hidden shadow-none flex-fill">
          <div class="card-body px-4">
            <div class="d-flex align-items-center justify-content-between mb-8">
              <div>
                <span class="text-dark-light fw-semibold fs-12">Tiempo de Pago</span>
              </div>
              <span class="round-48 d-flex align-items-center justify-content-center bg-white rounded">
                <span class="material-symbols-rounded text-success">calendar_month</span>
              </span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-6">
              <h4 class="mb-0 fw-medium">{{projecSelected.quotas}} meses</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="card bg-danger-subtle overflow-hidden shadow-none flex-fill">
          <div class="card-body px-4">
            <div class="d-flex align-items-center justify-content-between mb-">
              <div>
                <span class="text-dark-light fw-semibold">Valor de la Cuota</span>
              </div>
              <span class="round-48 d-flex align-items-center justify-content-center bg-white rounded">
                <span class="material-symbols-rounded text-danger">paid</span>
              </span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-6">
              <h4>{{projecSelected.quota_value | lempirasCurrency}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p-table [value]="projecSelected.payments" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '20rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center" scope="col">N° de Pago</th>
              <th class="text-center" scope="col">Fecha</th>
              <th class="text-end" scope="col">Valor</th>
              <th class="text-end" scope="col">Saldo Capital</th>
              <th class="text-center" scope="col">Comprobante</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pay>
            <tr>
              <td class="text-center">{{pay._id}}</td>
              <td class="text-center">{{pay.date}}</td>
              <td class="text-end">{{pay.mount | lempirasCurrency }}</td>
              <td class="text-end">{{pay.capital_balance | lempirasCurrency }}</td>
              <td class="text-center">
                <span (click)="paySelected = pay" data-bs-toggle="modal" data-bs-target="#modalModalPaymentReceipt"
                  style="cursor: pointer" class="material-symbols-rounded text-success">
                  receipt_long
                </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr *ngIf="!loadedPaymentes">
              <td colspan="5" style="text-align: center;">
                <output class="spinner-border">
                  <span class="visually-hidden">Loading...</span>
                </output>
              </td>
            </tr>
            <tr *ngIf="loadedPaymentes">
              <td style="text-align: center;" colspan="5">No se encontro información.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- <p-sidebar [(visible)]="visible" (onHide)="closeSidebar()" (onShow)="showSidebar()">
  <h3>Seleccione el proyecto</h3>
  <div class="simplebar-content mb-2" style="cursor: pointer;padding: 0px;" *ngFor="let project of projects;">
    <a (click)="selectProject(project)" class="px-4 py-3 bg-hover-light-black d-flex align-items-center bg-light-subtle">
      <div class="ms-6 d-inline-block w-75">
        <h6 class="mb-1 fw-semibold chat-title">LOTE - {{project.batch}}</h6>
        <span class="fs-2 text-body-color d-block">Hacienda Colonial</span>
      </div>
    </a>
  </div>
</p-sidebar>

<button (click)="showSidebar()" type="button"
  class="btn btn-danger p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn">
  <span class="material-symbols-rounded" style="font-size: 30px;">explore</span>
</button> -->

<app-payment-receipt [pay]="paySelected"></app-payment-receipt>
