<div class="container mb-4">
  <div class="banner d-flex flex-wrap align-items-center mb-4">
    <div class="text-center text-md-start flex-grow-1 ms-2">
      <h1 class="text-white m-0">Reservar Zonas Verdes</h1>
    </div>
    <div class="d-flex align-items-center me-auto">
      <img src="/assets/images/logos/Logo - Tu Inmueble 2025_1.png" alt="Logo" class="logo">
    </div>
    </div>
</div>

<div class="container mt-3">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<button #openModalButton style="display: none;" data-bs-toggle="modal" data-bs-target="#modalFormReserve"></button>

<app-reserve-form [customers]="projects" [reservation]="newReservation" (formSubmit)="formSubmit()"></app-reserve-form>
