<div class="container mb-4">
  <div class="banner d-flex flex-wrap align-items-center">
    <div class="d-flex align-items-center me-auto">
      <img src="/assets/images/logos/logo2.svg" alt="Logo" class="logo">
    </div>
    <div class="text-center text-md-end flex-grow-1">
      <h2 class="text-white m-0">Reservar Zonas Verdes</h2>
    </div>
  </div>
</div>

<div class="container mt-3">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<button #openModalButton style="display: none;" data-bs-toggle="modal" data-bs-target="#modalFormReserve"></button>

<app-reserve-form [customers]="projects" [reservation]="newReservation" (formSubmit)="formSubmit()"></app-reserve-form>
