.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:16px;
}

.full{
    grid-column:1 / -1;
}

.buttons{
    margin-top:24px;
    display:flex;
    justify-content:space-between;
}