<div class="modal fade" id="modalFormPayment" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar Pago</h5>
        <button #closeModalForm type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-grid" [formGroup]="formVouncher" (ngSubmit)="onSubmit()">
          <div class="form-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <input type="date" class="form-control" id="date" placeholder="Ingresa la fecha del pago"
                    formControlName="date" name="date" [class.is-invalid]="isInvalidField('date')"
                    [value]="vouncher.date">
                  <ng-container *ngFor="let validation of validationMessages['date']">
                    <div *ngIf="isValid('date', validation.type)">
                      <div class="error-message">
                        {{ validation.message }}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input [readOnly]="isEdit" type="text" class="form-control" id="concept"
                    placeholder="Ingresa el concepto del pago" formControlName="concept" name="concept"
                    [class.is-invalid]="isInvalidField('concept')" [value]="vouncher.concept">
                  <ng-container *ngFor="let validation of validationMessages['concept']">
                    <div *ngIf="isValid('concept', validation.type)">
                      <div class="error-message">
                        {{ validation.message }}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input #vouncherFile [readOnly]="isEdit" type="file" class="form-control" id="file"
                    placeholder="Seleccione el comprobante" formControlName="file" name="file" accept=".pdf, image/*"
                    [class.is-invalid]="isInvalidField('file')" (change)="onFileChange($event)">
                  <ng-container *ngFor="let validation of validationMessages['file']">
                    <div *ngIf="isValid('file', validation.type)">
                      <div class="error-message">
                        {{ validation.message }}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="registeringPayment" #closeButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button *ngIf="!registeringPayment" class="btn btn-success" (click)="onSubmit()">Registrar</button>
        <button *ngIf="registeringPayment" class="btn btn-primary" type="button" [disabled]="true">
          <span class="spinner-border spinner-border-sm"></span>
        </button>
      </div>
    </div>
  </div>
</div>
