<div class="modal fade" id="modalFormUser" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title text-dark fw-bold">Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
          <div class="row g-3">

            <!-- Username -->
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Ingresa el username"
                formControlName="username" [class.is-invalid]="isInvalidField('username')">
            </div>

            <!-- Password -->
            <div class="col-md-4">
              <input [readOnly]="isEdit" type="password" class="form-control" placeholder="Ingresa la contraseña"
                formControlName="password" [class.is-invalid]="isInvalidField('password')">
            </div>

            <!-- Persona -->
            <div class="col-md-4">
              <ng-select [clearable]="false" id="person" name="person" formControlName="person"
                  class="custom form-select" placeholder="Seleccione la persona" notFoundText="No se encontro esta persona."
                  [class.is-invalid]="isInvalidField('person')"
                  [class.has-value]="isInvalidField('person')"
                  (change)="onPersonChange($event)">
                  <ng-option *ngFor="let person of persons" [value]="person._id">{{person.name}}</ng-option>
              </ng-select>
                  <ng-container *ngFor="let validation of validationMessages['person']">
                    <div *ngIf="isValid('person', validation.type)">
                      <div class="error-message">
                        {{ validation.message }}
                      </div>
                    </div>
                  </ng-container>
            </div>
            
            <!-- Correo -->
            <div class="col-md-4">
              <input
                type="email"
                class="form-control"
                placeholder="Correo electrónico"
                formControlName="email"
                [class.is-invalid]="isInvalidField('email')">
                <div
                    *ngIf="
                            formUser.get('person')?.value &&
                            !formUser.get('email')?.value
                          "
                    class="alert alert-warning mt-2">

                    Esta persona no tiene correo registrado. Debe ingresar uno para crear el usuario.

                  </div>
            </div>

            <!-- Es Cliente -->
            <div class="col-12">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="isClient"
                  [(ngModel)]="isClient"
                  [ngModelOptions]="{standalone: true}"
                  (change)="toggleClientMode()">

                <label class="form-check-label fw-bold" for="isClient">
                  Es Cliente
                </label>
              </div>
            </div>

            <!-- Roles -->
            <div class="col-12 mt-3">
              <h6 class="fw-bold">Roles</h6>
              <div class="row">
                
                <div class="col-md-4">
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role01" (change)="toggleRole('01', $event)"  [checked]="selectedRoles.includes('01')" [disabled]="isRoleDisabled('01')">
                    <label class="form-check-label text-dark" for="role01">Dashboard Soporte</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role04" (change)="toggleRole('04', $event)"  [checked]="selectedRoles.includes('04')" [disabled]="isRoleDisabled('04')">
                    <label class="form-check-label text-dark" for="role04">Ver Lotes</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role07" (change)="toggleRole('07', $event)"  [checked]="selectedRoles.includes('07')" [disabled]="isRoleDisabled('07')">
                    <label class="form-check-label text-dark" for="role07">Clientes iniciados</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role10" (change)="toggleRole('10', $event)"  [checked]="selectedRoles.includes('10')" [disabled]="isRoleDisabled('10')">
                    <label class="form-check-label text-dark" for="role10">Registrar pagos (Admin)</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role13" (change)="toggleRole('13', $event)"  [checked]="selectedRoles.includes('13')" [disabled]="isRoleDisabled('13')">
                    <label class="form-check-label text-dark" for="role13">Ver reservaciones (Admin)</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role02" (change)="toggleRole('02', $event)"  [checked]="selectedRoles.includes('02')" [disabled]="isRoleDisabled('02')">
                    <label class="form-check-label text-dark" for="role02">Dashboard Cliente</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role05" (change)="toggleRole('05', $event)"  [checked]="selectedRoles.includes('05')" [disabled]="isRoleDisabled('05')">
                    <label class="form-check-label text-dark" for="role05">Nuevo Cliente</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role08" (change)="toggleRole('08', $event)"  [checked]="selectedRoles.includes('08')" [disabled]="isRoleDisabled('08')">
                    <label class="form-check-label text-dark" for="role08">Lotes libres</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role11" (change)="toggleRole('11', $event)"  [checked]="selectedRoles.includes('11')" [disabled]="isRoleDisabled('11')">
                    <label class="form-check-label text-dark" for="role11">Realizar reservas (Cliente)</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role03" (change)="toggleRole('03', $event)"  [checked]="selectedRoles.includes('03')" [disabled]="isRoleDisabled('03')">
                    <label class="form-check-label text-dark" for="role03">Usuarios</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role06" (change)="toggleRole('06', $event)"  [checked]="selectedRoles.includes('06')" [disabled]="isRoleDisabled('06')">
                    <label class="form-check-label text-dark" for="role06">Prospectos</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role09" (change)="toggleRole('09', $event)"  [checked]="selectedRoles.includes('09')" [disabled]="isRoleDisabled('09')">
                    <label class="form-check-label text-dark" for="role09">Registrar pagos (Cliente)</label>
                  </div>
                  <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="role12" (change)="toggleRole('12', $event)"  [checked]="selectedRoles.includes('12')" [disabled]="isRoleDisabled('12')">
                    <label class="form-check-label text-dark" for="role12">Ver todos los prospectos</label>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-light-gray" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
          style="--bs-btn-hover-bg: var(--bs-secondary); --bs-btn-hover-border-color: var(--bs-secondary);"
          >Registrar</button>
      </div>

    </div>
  </div>
</div>
