@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$custom-primary: #666633;
$custom-secondary: #006666;
$custom-danger: #FB4141;
$custom-black: #333333;

$primary: $custom-primary !default;
$secondary: $custom-secondary !default;
$danger: $custom-danger !default;
$dark: #333333;

* {
  font-family: "Inter", serif;
}

.error-message{
  color: $danger;
}

.p-datatable-wrapper{
  min-height: 350px !important;
}

.sidebar-link.active {
  box-shadow: 0px 17px 20px -8px rgba(31, 69, 41, 0.231372549) !important;
}

th {
  padding: 16px 16px;
}

tr>td {
  border: 1px solid #e2e8f0;
  border-width: 0 0 1px 0;
  padding: 0.75rem 1rem;
}

tr:nth-child(even) {
  background-color: #F8FAFC; /* Cambia este color según tu diseño */
}

.p-sidebar{
  background: white;
  padding: 20px;
}

button.p-ripple.p-element.p-sidebar-close.p-sidebar-icon.p-link {
  border: none;
  background: transparent
}

.p-sidebar-header{
  display: flex;
  justify-content: end;
}

.p-component-overlay.p-sidebar-mask.p-component-overlay-enter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.p-sidebar-mask.p-component-overlay-leave {
  opacity: 0;
}

.p-dialog-header-icon.p-dialog-header-close.p-link{
  border: none;
  background: transparent
}
.p-dialog-header{
  padding: 21px;
}
.p-dialog-content{
  padding: 0px 21px 21px;
}
.p-dialog{
  background: white !important;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.p-paginator.p-component.ng-star-inserted button{
border: none;
margin: 2px;
background: none;
}

.p-dropdown {
  display: flex;
  align-items: center;
  padding: 10px;
  padding: 8px 16px !important;
  width: 100% !important;
}

.p-dropdown:focus{
  border-color: var(--bs-primary);
  outline: 0;
  box-shadow: none;
}

.p-dropdown:hover{
  border-color: var(--bs-primary);
  outline: 0;
  box-shadow: none;
}

.p-dropdown-items-wrapper{
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  margin: 2px 0;
  padding: 0.5rem 0.75rem;
  border: 0 none;
  color: #334155;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
  border-radius: 4px;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

.ng-select.custom .ng-dropdown-panel {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: #E0E6EB;
  border-radius: 5px;
  width: 100%;
  margin-left: -15px !important;
  margin-top: 10px;
}

.ng-select.custom .ng-option {
  padding: 8px 10px;
  color: $dark; /* Blue color for options */
}

.ng-select.custom .ng-option:hover {
  background-color: $secondary; /* Blue background on hover */
  color: white;
  border-radius: 5px; /* White text on hover */
}

.ng-select.custom .ng-placeholder {
  display: block;
  color: $dark; /* Color del placeholder cuando no hay valor */
}

.ng-has-value .ng-placeholder {
  display: none !important; /* Oculta el placeholder cuando hay un valor */
}

.ng-select.has-value .ng-value {
  color: #5A6A85;
  display: block; /* Asegura que el valor seleccionado se muestra correctamente */
}

.selected {
  background: $secondary !important;
  color: white !important;
}

@import 'assets/scss/styles.scss';



